* {
  box-sizing: border-box;
}

body {
  margin: 40px;
  background-color: #fff;
  color: #444;
  font: 2em Sansita, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100vh;
  align-items: flex-start;
  margin: 0 auto
}

.container > * {
  border: 1px solid orange;
  border-radius: 5px;
  margin: 10px;
  background-color: red;
  color: #fff;
  width: 250px;
}

.full {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  height: 100vh !important;
  transition: 2s;
  width: 100vw
}

.normal{
  transition: 2s
}

@media (max-width: 992px) {
  .container > * {
    width: 100px;
    }
  }

@media (max-width: 600px) {
  .container > * {
    width: 55px;
    }
  }